<div class="form-group has-feedback" ng-class="{'has-error':subform.name.$invalid && subform.name.$dirty, 'has-success':!subform.name.$invalid && subform.name.$dirty }" ng-form="subform" tabindex="-1">
  <label class="control-label" for="{{::id}}">{{title}}
    <span class="pf-required" ng-if="required || ngRequired">*</span>
    <span ng-messages="subform.name.$error" ng-show="subform.name.$invalid && subform.name.$dirty" role="alert">&nbsp;&nbsp;
      <span ng-message="required">This field is required!</span>
      <span ng-message="minlength, maxlength">Text must be between 0 and 255 characters!</span>
      <span ng-message="stateCode">State is Invalid. Please enter the state name or the state code!</span>
    </span>
    <span ng-show="subform.name.$valid && subform.name.$dirty" role="alert">&nbsp;&nbsp;All Good!</span>
  </label>
  <p class="FormHint" id="{{::id}}-tip" ng-show="hasTransclude" ng-transclude/>
  <div class="pf-form-control">
    <input aria-describedby="{{::id}}-tip" class="form-control" id="{{::id}}" name="name" ng-model="ngModel" ng-required="ngRequired" ng-trim="true" placeholder="Ex: OH or Ohio" required={{required}} type="text"/>
    <span class="glyphicon glyphicon-remove form-control-feedback" ng-show="subform.name.$invalid && subform.name.$dirty">
      &nbsp;</span>
    <span class="glyphicon glyphicon-ok form-control-feedback" ng-show="!subform.name.$invalid && subform.name.$dirty">
      &nbsp;</span>
  </div>
</div>
