<html ng-app="examplePage">
	<head>
		<title> Pratical Forms Example Page</title>
		<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootswatch/3.2.0/united/bootstrap.min.css">
		<script src="http://cdnjs.cloudflare.com/ajax/libs/angular.js/1.2.20/angular.min.js"></script>
		<script src="http://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/0.10.0/ui-bootstrap.min.js"></script>
		<script src="http://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/0.10.0/ui-bootstrap-tpls.min.js"></script>

		<script src="../build/PracticalForms.min.js"></script>

		<script>
			angular.module("examplePage", ['ui.bootstrap','jjp.PracticalForms'])
			.controller("ExampleCtrl", ['$scope', function($scope){
				$scope.inputs = {};
				$scope.deal = {};
				$scope.ConfirmAction = function(item){
					console.log("Confirmed Action!", item);
				}
			}]);
		</script>
	</head>
	<body ng-controller="ExampleCtrl">
	<form name="form">
		<h1>Pratical Forms Example Page</h1>

		<h2>General Text Inputs</h2>
		<pf-text-input title="Text Input" ng-model="inputs.text" >
			This is a basic text input. More or less, just a wrapper for basic input. Input is bounded between 0-255 characters and auto tirmed.
		</pf-text-input>

		<pf-text-input title="Text Input (Required)" ng-required=1 ng-model="inputs.textReq" placeholder="Required text input">
			This input is now required by adding ng-required attribute. The attribute can be added to any input
		</pf-text-input>

		<pf-textarea title="Textarea Input" ng-required=1 ng-model="inputs.textarea" placeholder="Lot's of text goes here">
			Large text box, limited to 2500 chatacters
		</pf-textarea>

		<!-- ---------------------------------------------------------------------------- -->
		<hr />
		<h2>Number Inputs Inputs</h2>
		<pf-number-input title="Number Input" ng-model="inputs.number" >
			Numerical input, validate wiht the html 5 numerical input
		</pf-number-input>

		<pf-percentage-input title="Percentage Input" ng-model="inputs.percentage" >
			Enter input as percentage, only values from 0% to 100% are valid.
		</pf-percentage-input>

		<!-- ---------------------------------------------------------------------------- -->
		<hr />
		<h2>Login Form Inputs</h2>
    <pf-email-input title="Email Input" ng-model="inputs.email" >
    	Email input, validated using the default browser implementation
  	</pf-email-input>

    <pf-password-input title="Password Input" ng-model="inputs.password" >
    	Please enter password. The default password must be at least 8 characters long and inculde an uppercase letter, lowercase letter and a number.
			see <a href="http://regexlib.com/REDetails.aspx?regexp_id=1923">Here</a> for more details
  	</pf-password-input>

		<!-- ---------------------------------------------------------------------------- -->
		<hr />
		<h1>Address/Contact Inputs</h1>
		<pf-state-code-input title="State Code Input" ng-model="inputs.state">
			Enter a state code.
		</pf-state-code-input>

    <pf-zip-code-input title="Zip Code Input" ng-model="inputs.zip">
    	Enter a zip code, either xxxxx or xxxxx-xxxx. See <a href="http://regexlib.com/REDetails.aspx?regexp_id=837">Here</a> for more details
  	</pf-zip-code-input>

    <pf-phone-input title="Phone Number (US) Input" ng-model="inputs.phone" >
    	Enter a phone code, See <a href="http://regexlib.com/REDetails.aspx?regexp_id=607">Here</a> for more details
  	</pf-phone-input>

	  <pf-url-input title="Url Link" ng-model="inputs.link" >
	  	URl link. validated using the default browser implementation
  	</pf-url-input>

		<!-- ---------------------------------------------------------------------------- -->
		<hr />
		<h2>Option Group Inputs</h2>
   	<pf-option-group title="Options Group (Radio)" description="Option Group is a wrapper for the radio and checkbox inputs">
		  <pf-checkbox-input title="Monday"><input type="checkbox" ng-model="inputs.onMonday" ></pf-checkbox-input>
		  <pf-checkbox-input title="Tuesday"><input type="checkbox" ng-model="inputs.onTuesday" ></pf-checkbox-input>
		  <pf-checkbox-input title="Wednesday"><input type="checkbox" ng-model="inputs.onWendesday" ></pf-checkbox-input>
		  <pf-checkbox-input title="Thursday"><input type="checkbox" ng-model="inputs.onThursday" ></pf-checkbox-input>
		  <pf-checkbox-input title="Friday"><input type="checkbox" ng-model="inputs.onFriday" ></pf-checkbox-input>
		  <pf-checkbox-input title="Saturday"><input type="checkbox" ng-model="inputs.onSaturday" ></pf-checkbox-input>
		  <pf-checkbox-input title="Sunday"><input type="checkbox" ng-model="inputs.onSunday" ></pf-checkbox-input>
	  </pf-option-group>

    <pf-option-group title="Options Group (Checkbox)" description="Option Group is a wrapper for the radio and checkbox inputs">
      <pf-radio-input title="Buy1, Get 1"><input type="radio" name="type"  value="BOGO" ng-model="inputs.type" ></pf-radio-input>
      <pf-radio-input title="Free!"><input type="radio" name="type"  value="FREE" ng-model="inputs.type" ></pf-radio-input>
      <pf-radio-input title="Free with Purchase"><input type="radio" name="type"  value="FREEwPURCHASE" ng-model="inputs.type" ></pf-radio-input>
      <pf-radio-input title="Discount"><input type="radio" name="type"  value="DISCOUNT" ng-model="inputs.type" ></pf-radio-input>
      <pf-radio-input title="Other"><input type="radio" name="type"  value="OTHER" ng-model="inputs.type" ></pf-radio-input>
    </pf-option-group>

		<!-- ---------------------------------------------------------------------------- -->
		<hr />
		<h2>Other input needing UI-Bootstrap fromaework</h2>
		<pf-date-input title="Date Picker (ui.bootstrap needed)" ng-model="inputs.date">
    	Enter a date. Min date can be set using the min-date attribute.
  	</pf-date-input>

		<button type=button class="btn btn-success" pf-confirm="ConfirmAction({item: 123})" pf-title="Are you sure?" pf-message="Do you really want todo this thing?">
			Click to open confirm dialog
		</button>

		</hr/>
		<h3>Output</h3>
		<pre>{{inputs}}</pre >
	</form>
	</body>
</html>
