<html ng-app="examplePage">

<head>
  <title>
    Practical Login Form Page</title>
  <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.6/css/bootstrap.min.css">
  <style media="screen">
    .pf-form-control {
      position: relative;
    }

    .pf-required {
      color: red;
    }
  </style>
  <script src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.2/angular.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.2/angular-aria.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.2/angular-messages.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/1.2.5/ui-bootstrap-tpls.min.js"></script>
  <script src="../dist/practical-forms.js"></script>

  <script>
    angular.module("examplePage", ['jjp.practical-forms']).controller("ExampleCtrl", [
        '$scope',
        function($scope) {
          $scope.title = 'Practical Forms - Reset Password Form Example';
          $scope.hasDisabled = true;
          $scope.location = window.location.pathname.split('/')[2];

          $scope.inputs = {};
          $scope.custInputs = {};
          $scope.submit = function(inputs) {
            alert("Look in the box below the form for the data...");
          };
          $scope.settings = {
            meta: {header: '↓↓↓ Awesome Form! ↓↓↓', submit: 'Change it now!'},
            oldpassword: { title: 'The OLD password', model: 'old', help:'That really old password that needs to be changed ...'},
            newpassword: { title: 'The NEW password', model: 'new', help:'This should be a good new password'},
            confirmPassword: { title: 'Confirm your password', model: 'confirm', help: 'Because we all have fat fingers occasionlly'}
          }
          $scope.disabled = false;
        }
      ]);
  </script>
</head>

<body ng-controller="ExampleCtrl">
  <div class="container">
    <div ng-include="'nav.html'"></div>

    <br/>
    <br/>
    <br/>
    <div class="row">
      <div class="col-lg-offset-1 col-md-4 ">
        <h3>Default Change Password Form</h3>
        <div class="well">
          <pf-form-password ng-model="inputs" ng-submit="submit()" ng-disabled="disabled"> </pf-form-password>
        </div>
        <pre>{{inputs}}</pre>
      </div>
      <div class="col-lg-offset-2 col-md-4 ">
        <h3>Customized Change Password Form</h3>
        <div class="well">
          <pf-form-password ng-model="custInputs" ng-submit="submit('custInputs')" ng-disabled="disabled" settings="settings">
            <hr />
            <p>Here is an cool area that any other elements can be placed to make these forms awesome!</p>
            <pf-number ng-model="custInputs.number" title="addtional input">Enter some random number because we can :p</pf-number>
          </pf-form-password>
        </div>
        <pre>{{custInputs}}</pre>
      </div>
    </div>
  </div>
</body>

</html>
