<div class="row">
  <div class="page-header">
    <span class="pull-right" ng-if='hasDisabled'>
        <pf-checkbox title="Disable all forms" ng-model="disabled">
    </span>
    <h1>{{title}}</h1>
  </div>
  <ul class="nav nav-pills">
    <li role="presentation" ng-class="{active: location === 'index.html'}">
      <a href="index.html">Inputs</a>
    </li>
    <li role="presentation" ng-class="{active: location === 'login.html'}">
      <a href="login.html">Login Form</a>
    </li>
    <li role="presentation" ng-class="{active: location === 'register.html'}">
      <a href="register.html">Registration Form</a>
    </li>
    <li role="presentation" ng-class="{active: location === 'password.html'}">
      <a href="password.html">Change Password Form</a>
    </li>
    <li role="presentation" ng-class="{active: location === 'options.html'}">
      <a href="options.html">Radio/Checkbox Form</a>
    </li>
    <li role="presentation" ng-class="{active: location === 'dialogs.html'}">
      <a href="dialogs.html">Dialogs</a>
    </li>
    <li role="presentation" ng-class="{active: location === 'config.html'}">
      <a href="config.html">Config</a>
    </li>
    <li role="presentation" ng-class="{active: location === 'picture.html'}">
      <a href="picture.html">Picture Upload</a>
    </li>
  </ul>
</div>
