<html ng-app="examplePage">

<head>
  <title>
    Practical Login Form Page</title>
  <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.6/css/bootstrap.min.css">
  <style media="screen">
    .pf-form-control {
      position: relative;
    }

    .pf-required {
      color: red;
    }
  </style>
  <script src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.2/angular.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.2/angular-aria.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.2/angular-messages.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/1.2.5/ui-bootstrap-tpls.min.js"></script>
  <script src="./dist/practical-forms.js"></script>

  <script>
    angular.module("examplePage", ['jjp.practical-forms']).controller("ExampleCtrl", [
        '$scope',
        function($scope) {
          $scope.inputs = {};
          $scope.custInputs = {};
          $scope.submit = function(inputs) {
            alert("Look in the box below the form for the data...");
          };
          $scope.disabled = false;
        }
      ]);
  </script>
</head>

<body ng-controller="ExampleCtrl">
  <div class="container">
    <div class="row">
      <div class="page-header">
        <span class="pull-right">
          <pf-checkbox title="Disable all forms" ng-model="disabled">
        </span>
        <h1>Pract
        <h1>Practical Forms Examples</h1>
      </div>
      <ul class="nav nav-pills">
        <li role="presentation">
          <a href="index.html">Inputs</a>
        </li>
        <li role="presentation">
          <a href="login.html">Login Form</a>
        </li>
        <li role="presentation">
          <a href="register.html">Registration Form</a>
        </li>
        <li role="presentation">
          <a href="password.html">Change Password Form</a>
        </li>
        <li role="presentation" class="active">
          <a href="options.html">Radio/Checkbox Form</a>
        </li>
      </ul>
    </div>

    <br/>
    <br/>
    <br/>
    <div class="row">
      <p>This is a form showing the usage of radio buttons and checkboxes </p>
      <br />
      <br />
      <br />
      <form class="col-md-12" name="form">
        <pf-group title="Checkbox Group" description="Option Group is a wrapper for the radio and checkbox inputs">
          <pf-checkbox title="Monday" ng-model="inputs.onMonday" ng-disabled="disabled"  ng-required=1></pf-checkbox>
          <pf-checkbox title="Tuesday" ng-model="inputs.onTuesday" ng-disabled="disabled" ></pf-checkbox>
          <pf-checkbox title="Wednesday" ng-model="inputs.onWendesday" ng-disabled="disabled" ></pf-checkbox>
          <pf-checkbox title="Thursday" ng-model="inputs.onThursday" ng-disabled="disabled" ></pf-checkbox>
          <pf-checkbox title="Friday" ng-model="inputs.onFriday" ng-disabled="disabled" ></pf-checkbox>
          <pf-checkbox title="Saturday" ng-model="inputs.onSaturday" ng-disabled="disabled" ></pf-checkbox>
          <pf-checkbox title="Sunday" ng-model="inputs.onSunday" ng-disabled="disabled" ></pf-checkbox>
        </pf-group>

        <pf-group title="Radio Group" description="Option Group is a wrapper for the radio and checkbox inputs">
          <pf-radio title="Buy1, Get 1" value="BOGO" ng-model="inputs.type" ng-disabled="disabled"  ng-required=true></pf-radio>
          <pf-radio title="Frees!" value="FREE" ng-model="inputs.type" ng-disabled="disabled"  ng-required=1></pf-radio>
          <pf-radio title="Free with Purchase" value="FREEwPURCHASE" ng-model="inputs.type" ng-disabled="disabled"  ng-required=1></pf-radio>
          <pf-radio title="Discount" value="DISCOUNT" ng-model="inputs.type" ng-disabled="disabled"  ng-required=1></pf-radio>
          <pf-radio title="Other" value="OTHER" ng-model="inputs.type" ng-disabled="disabled"  ng-required=1></pf-radio>
        </pf-group>

        <button type="submit" class="btn btn-primary btn-block">Done</button>
        <!-- <button type="submit" class="btn btn-primary btn-block" ng-disabled="form.$invalid">Done</button> -->
        <pre>{{inputs | json}}</pre>
      </form>
    </div>
  </div>
</body>

</html>
