<html ng-app="examplePage">

  <head>
    <title>
      Practical Login Form Page</title>
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.6/css/bootstrap.min.css">
    <style media="screen">
      .pf-form-control {
        position: relative;
      }
      .pf-required {
        color: red;
      }

    </style>
    <script src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.2/angular.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.2/angular-aria.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.2/angular-messages.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/1.2.5/ui-bootstrap-tpls.min.js"></script>
    <script src="./dist/practical-forms.js"></script>

    <script>
      angular.module("examplePage", ['jjp.practical-forms']).controller("ExampleCtrl", [
        '$scope',
        function($scope) {
          $scope.inputs = {};
          $scope.custInputs = {};
          $scope.submit = function(inputs) {
            alert("Look in the box below the form for the data...");
          };
        }
      ]);
    </script>
  </head>

  <body ng-controller="ExampleCtrl">
    <div class="container">
      <div class="row">
        <div class="page-header">
          <h1>Practical Forms Examples</h1>
        </div>
        <ul class="nav nav-pills">
          <li role="presentation">
            <a href="index.html">Inputs</a>
          </li>
          <li role="presentation" >
            <a href="login.html">Login Form</a>
          </li>
          <li role="presentation" class="active">
            <a href="register.html">Registration Form</a>
          </li>
          <li role="presentation">
            <a href="password.html">Change Password Form</a>
          </li>
          <li role="presentation">
            <a href="options.html">Radio/Checkbox Form</a>
          </li>
        </ul>
      </div>

      <br/>
      <br/>
      <br/>
      <div class="row">
        <div class="col-lg-offset-1 col-md-4 ">
          <h3>Default Registration Form</h3>
          <div class="well">
            <pf-form-register ng-model="inputs" ng-submit="submit()" ></pf-form-register>
          </div>
          <pre>{{inputs}}</pre>
        </div>
        <div class="col-lg-offset-2 col-md-4 ">
          <h3>Customized Registration Form</h3>
          <div class="well">
						<pf-form-register ng-model="custInputs" ng-submit="submit()" header="↓↓↓ Awesome Form! ↓↓↓"
             firstname="Name"
             firstname-help="That thing everyone says when they mean you..."
             lastname="MyBadAssAwesomeSoundingName"
             lastname-help="Enter the last name of your clan!"
             password="Password"
             password-help="A cool password, because were six"
             confirm-password="PasswordTakeTwo"
             email-help="point are award to the person with the most ridiculous email address"
					   email="ComplexEmailKey"
             >
             <hr />
              <p>Here is an cool area that any other elements can be placed to make these forms awesome!</p>
  						<pf-number ng-model="custInputs.number" title="addtional input" ng-required=1>Enter some random number because we can :p</pf-number>
							<pf-checkbox ng-required=true title="Sign Me Up!" ng-model="custInputs.check"></pf-checkbox>
						</pf-form-register>
          </div>
          <pre>{{custInputs}}</pre>
        </div>
      </div>
    </div>
  </body>

</html>
