
<div class="form-group has-feedback" ng-form="subform"
    ng-class="{'has-error':subform.name.$invalid && subform.name.$dirty, 'has-success':!subform.name.$invalid && subform.name.$dirty }" >
  <label class="control-label">{{title}}<span ng-if="required || ngRequired">*</span>
    <span ng-show="subform.name.$invalid && subform.name.$dirty">
      <span ng-show="subform.name.$error.required"> - Required!</span>
      <span ng-show="subform.name.$error.minlength"> - Must be Longer then {{ngMinlength || 0}} characters</span>
      <span ng-show="subform.name.$error.maxlength"> - Must be shorter then {{ngMaxlength || 2500}} characters</span>
      <span ng-show="subform.name.$error.pattern"> - Invalid Input</span>
    </span>
  </label>

  <p class="FormHint" ng-transclude>Form Hint</p>
  <textarea class="form-control" type="text" name="name" ng-model="ngModel" ng-minlength="ngMinlength || 0" ng-maxlength="ngMaxlength || 2500" ng-pattern="ngPattern" ng-required="ngRequired" required={{required}} ng-Trim="ngTrim" placeholder={{placeholder}} ></textara>
  <span class="glyphicon glyphicon-remove form-control-feedback" ng-show="subform.name.$invalid && subform.name.$dirty"></span>
  <span class="glyphicon glyphicon-ok form-control-feedback" ng-show="!subform.name.$invalid && subform.name.$dirty"></span>
</div>
