<!---
 Regex password pattern http://regexlib.com/REDetails.aspx?regexp_id=1923
-->

<div class="form-group has-feedback" ng-class="{'has-error':subform.name.$invalid && subform.name.$dirty, 'has-success':!subform.name.$invalid && subform.name.$dirty }" ng-form="subform" tabindex=-1>
  <label class="control-label" for="{{::id}}">{{title}}
    <span class="pf-required" ng-if="required || ngRequired">*</span>
    <span ng-messages="subform.name.$error" ng-show="subform.name.$invalid && subform.name.$dirty" role="alert">&nbsp;&nbsp;
      <span ng-message="required">This field is required!</span>
      <span ng-message="minlength">The password must be at least 8 characters long!</span>
      <span ng-message="maxlength">The password must be shorter then 255 characters!</span>
      <span ng-message="pattern">The password must contain at least 1 lowercase letter, 1 uppercase letter, and 1 digit!</span>
      <span ng-message="confirm">The confirmation password doesn't match the original!</span>
    </span>
    <span ng-show="subform.name.$valid && subform.name.$dirty" role="alert">&nbsp;&nbsp;All Good!</span>
  </label>

  <p class="FormHint" id="{{::id}}-tip" ng-show="hasTransclude" ng-transclude/>
  <div class="pf-form-control">
    <input aria-describedby="{{::id}}-tip" class="form-control" id="{{::id}}" name="name" ng-Trim=1 ng-maxlength=255 ng-minlength=8 ng-model="ngModel" ng-pattern="/(?=^.{8,}$)(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?!.*\s)[0-9a-zA-Z!@#$%^&*()]*$/" ng-required="ngRequired" placeholder={{placeholder}} required={{required}} type="password"/>
    <span class="glyphicon glyphicon-remove form-control-feedback" ng-show="subform.name.$invalid && subform.name.$dirty">
      &nbsp;</span>
    <span class="glyphicon glyphicon-ok form-control-feedback" ng-show="!subform.name.$invalid && subform.name.$dirty">
      &nbsp;</span>
  </div>
</div>
