<!---
 Regex password pattern http://regexlib.com/REDetails.aspx?regexp_id=1923
-->


<div class="form-group has-feedback" ng-form="subform"
    ng-class="{'has-error':subform.name.$invalid && subform.name.$dirty, 'has-success':!subform.name.$invalid && subform.name.$dirty }" >
  <label class="control-label">{{title}}<span ng-if="required || ngRequired">*</span>
    <span ng-show="subform.name.$invalid && subform.name.$dirty">
      <span ng-show="subform.name.$error.required"> - Required!</span>
      <span ng-show="subform.name.$error.minlength"> - Must be Longer then {{ngMinlength}} characters</span>
      <span ng-show="subform.name.$error.maxlength"> - Must be shorter then {{ngMaxlength}} characters</span>
      <span ng-show="subform.name.$error.pattern"> - Must contain at least 1 lowercase letter, 1 uppercase letter, and 1 digit</span>
    </span>
  </label>

  <!-- passwords must be 8 characters long -->

  <p class="FormHint" ng-transclude>Form Hint</p>
  <input class="form-control" type="password" name="name" ng-model="ngModel" ng-minlength="8"
   ng-maxlength="255"  ng-pattern="/(?=^.{8,}$)(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?!.*\s)[0-9a-zA-Z!@#$%^&*()]*$/" ng-required="true" required=true />


  <span class="glyphicon glyphicon-remove form-control-feedback" ng-show="subform.name.$invalid && subform.name.$dirty"></span>
  <span class="glyphicon glyphicon-ok form-control-feedback" ng-show="!subform.name.$invalid && subform.name.$dirty"></span>
 </div>
