<form name="form" class="pf pf-form">
  <fieldset>
    <legend>{{::s.meta.header}}</legend>
    <pf-password title="{{::s.oldpassword.title}}" ng-model="ngModel[s.oldpassword.model]" ng-disabled="ngDisabled" ng-required=1>{{::s.oldpassword.help}}</pf-password>
    <pf-password title="{{::s.newpassword.title}}" ng-model="ngModel[s.newpassword.model]" ng-disabled="ngDisabled" ng-required=1>{{::s.newpassword.help}}</pf-password>
    <pf-password title="{{::s.confirmPassword.title}}" ng-model="ngModel[s.confirmPassword.model]" ng-disabled="ngDisabled" ng-required=1 confirm="ngModel[s.newpassword.model]">{{::s.confirmPassword.help}}</pf-password>
    <span ng-transclude>&nbsp;</span>
    <button type="submit" class="btn btn-primary btn-block" ng-disabled="form.$invalid || ngDisabled">{{::s.meta.submit}}</button>
  </fieldset>
</form>
