<form name="form" >
  <fieldset>
    <legend>{{::_header}}</legend>
    <pf-password title="Old Password" ng-model="ngModel[_oldpassword]" ng-required=1>{{oldPasswordHelp}}</pf-password>
    <pf-password title="New Password" ng-model="ngModel[_newpassword]" ng-required=1>{{newPasswordHelp}}</pf-password>
    <pf-password title="Confirm Password" ng-model="ngModel[_confirmPassword]" ng-required=1 confirm="ngModel[_newpassword]">{{newPasswordHelp}}</pf-password>
    <span ng-transclude ng-if="hasTransclude">&nbsp;</span>
    <button type="submit" class="btn btn-primary btn-block" ng-disabled="form.$invalid">Change Password</button>
  </fieldset>
</form>
