<div class="pf pf-input" class="form-group has-feedback" ng-form="subform" ng-class="{'has-error':subform.name.$invalid && subform.name.$dirty, 'has-success':!subform.name.$invalid && subform.name.$dirty }" >
  <label class="control-label">{{title}}<span ng-if="required || ngRequired">*</span>
    <span ng-show="subform.name.$invalid && subform.name.$dirty">
      <span ng-show="subform.name.$error.required"> - Required!</span>
    </span>
  </label>
  <p class="FormHint" ng-transclude ng-show="hasTransclude"></p>
  <div class="well row">
    <div class="col-xs-9">
      <h4>
        <span ng-show="status == 4"> Success! File Uploaded</span>
        <span ng-show="status == 3"> Uploading...</span>
        <span ng-show="status == 2"> Loaded Image <small><i>Image may not be display correctly</i></small></span>
        <span ng-show="status == 1"> Loading Image {{load.loaded*100/load.total | number:0}}%</span>
        <span ng-show="status == 0"> No Image Selected</span>
        <span ng-show="status < 0">  Error!
          <span ng-show="status == -10">  - File is Too Large, Max Size: {{size/1000}} kB</span>
        </span>
      </h4>
      <div class="fileinput-preview thumbnail" style="width: 250px; " ng-show="status>= 2">
        <img ng-src="{{preview}}" style="image-orientation: from-image"/>
      </div>
      <input class="form-control" type="file" name="name" accept="image/*" ng-required="ngRequired" required={{required}} style="display:none">
      <p ng-show="status>=2"><strong>File:</strong> {{ngModel.name}}</p>
    </div>
    <div class="col-xs-3">
      <button type="button" class="btn btn-block btn-default file-selector">Select</button>
      <button type="button" class="btn btn-block btn-success" ng-click="Upload()" ng-show="status>=2" ng-if="showUpload">Upload</button>
      <button type="button" class="btn btn-block btn-danger" ng-click="Remove()" ng-show="status>=2">Remove</button>
    </div>

</div>
