<div class="form-group has-feedback" ng-form="subform" ng-class="{'has-error':subform.name.$invalid && subform.name.$dirty, 'has-success':!subform.name.$invalid && subform.name.$dirty }" >
  <label class="control-label">{{title}}<span ng-if="required || ngRequired">*</span>
    <span ng-show="subform.name.$invalid && subform.name.$dirty">
      <span ng-show="subform.name.$error.required"> - Required!</span>
    </span>
  </label>
  <p class="FormHint" ng-transclude>Form Hint</p>
  <div class="well row">
    <div class="col-xs-9">
      <div class="fileinput-preview thumbnail" style="width: 200px; height: 150px; line-height: 150px;">
        <img ng-src="{{imageSrc}}" />
      </div>
      <input class="form-control" type="file" name="name" accept="image/*" ng-required="ngRequired" required={{required}} >
      <span class="glyphicon glyphicon-remove form-control-feedback" style="top:55px;" ng-show="subform.name.$invalid && subform.name.$dirty" ></span>
      <span class="glyphicon glyphicon-ok form-control-feedback" style="top:55px;" ng-show="!subform.name.$invalid && subform.name.$dirty" ></span>
    </div>
    <div class="col-xs-3">
      <button type="button" class="btn btn-default btn-block file-selector" >Select</button>
      <button type="button" class="btn btn-default btn-block" ng-click="upload()">Upload</button>
      <button type="button" class="btn btn-default btn-block" ng-click="upload()">Change</button>
      <button type="button" class="btn btn-default btn-block" ng-click="upload()">Remove</button>
    </div>

</div>
