<div class="pf pf-input form-group has-feedback" ng-class="{'has-error':subform.name.$invalid && subform.name.$dirty, 'has-success':!subform.name.$invalid && subform.name.$dirty }" ng-form="subform" tabindex="-1">
  <label class="control-label" for="{{::id}}">{{title}}
    <span class="pf-required" ng-if="required || ngRequired">{{::config.requiredChar}}</span>
    <span ng-include="'/jjp/pf/validation.html'"></span>
  </label>

  <p class="FormHint" ng-show="hasTransclude" ng-transclude  id="{{::id}}-tip"></p>
  <div class="pf-form-control">
    <input id="{{::id}}" aria-describedby="{{::id}}-tip" class="form-control" name="name" ng-Trim="ngTrim" ng-model="ngModel" ng-disabled="ngDisabled" ng-required="ngRequired" placeholder="Example: john.doe@company.com" required={{required}} type="email"/>
    <span class="glyphicon glyphicon-remove form-control-feedback" ng-show="subform.name.$invalid && subform.name.$dirty">&nbsp;</span>
    <span class="glyphicon glyphicon-ok form-control-feedback" ng-show="!subform.name.$invalid && subform.name.$dirty">&nbsp;</span>
  </div>
</div>
