<div class="form-group has-feedback" ng-class="{'has-error':subform.name.$invalid && subform.name.$dirty, 'has-success':!subform.name.$invalid && subform.name.$dirty }" ng-form="subform">
  <label class="control-label">{{title}}
    <span ng-if="required || ngRequired">*</span>
    <span ng-show="subform.name.$invalid && subform.name.$dirty">
      <span ng-show="subform.name.$error.required"> - Required!</span>
      <span ng-show="subform.name.$error.email"> - Not a valid Email!</span>
    </span>
  </label>

  <p class="FormHint" ng-show="hasTransclude" ng-transclude></p>
  <input class="form-control" name="name" ng-Trim="ngTrim" ng-model="ngModel" ng-required="ngRequired" placeholder="Ex: john.doe@company.com" required={{required}} type="email"/>
  <span class="glyphicon glyphicon-remove form-control-feedback" ng-show="subform.name.$invalid && subform.name.$dirty" style="top:55px;"/>
  <span class="glyphicon glyphicon-ok form-control-feedback" ng-show="!subform.name.$invalid && subform.name.$dirty" style="top:55px;"/>
</div>
