<div class="pf pf-input form-group has-feedback" ng-class="{'has-error':subform.name.$invalid && subform.name.$dirty, 'has-success':!subform.name.$invalid && subform.name.$dirty }" ng-form="subform" tabindex="-1">
  <label class="control-label" for="{{::id}}">{{title}}
    <span class="pf-required" ng-if="required || ngRequired">{{::config.requiredChar}}</span>
    <span ng-include="'/jjp/pf/validation.html'"></span>
    <!-- <span ng-message="min">Numbers must be greater then {{min}}</span> -->
    <!-- <span ng-message="max">Numbers must be less then {{max}}</span> -->
  </label>
  <p class="FormHint" id="{{::id}}-tip" ng-show="hasTransclude" ng-transclude></p>
  <div class="pf-form-control">
    <input aria-describedby="{{::id}}-tip" class="form-control" id="{{::id}}" name="name" ng-maxlength=255 ng-model="ngModel" ng-disabled="ngDisabled" ng-required="ngRequired"
     placeholder={{placeholder}} required={{required}} type="number" pf-number-mask max={{max}} min={{min}}/>
    <span class="glyphicon glyphicon-remove form-control-feedback" ng-show="subform.name.$invalid && subform.name.$dirty">&nbsp;</span>
    <span class="glyphicon glyphicon-ok form-control-feedback" ng-show="!subform.name.$invalid && subform.name.$dirty">&nbsp;</span>
  </div>
</div>
