<div class="form-group has-feedback" ng-form="subform"
    ng-class="{'has-error':subform.name.$invalid && subform.name.$dirty, 'has-success':!subform.name.$invalid && subform.name.$dirty }" >
  <label class="control-label">{{title}}<span ng-if="required || ngRequired">*</span>
    <span ng-show="subform.name.$invalid && subform.name.$dirty">
      <span ng-show="subform.name.$error.required"> - Required!</span>
      <span ng-show="subform.name.$error.url"> - Not a valid URL. Make sure it starts with 'http://'</span>
    </span>
  </label>

  <p class="FormHint" ng-transclude ng-show="hasTransclude"></p>
  <input class="form-control" type="url" required name="name" ng-model="ngModel" ng-required="ngRequired"
    required={{required}} ng-Trim="ngTrim" placeholder="Ex: http://company.com" />
  <span class="glyphicon glyphicon-remove form-control-feedback" style="top:55px;" ng-show="subform.name.$invalid && subform.name.$dirty"></span>
  <span class="glyphicon glyphicon-ok form-control-feedback" style="top:55px;" ng-show="!subform.name.$invalid && subform.name.$dirty"></span>
</div>
